/*font-family:Coda_Caption*/
@font-face{
font-family:Coda_Caption;
src:url('../fonts/Coda_Caption/CodaCaption-ExtraBold.ttf');	
}
/*font-family:Inconsolata*/
@font-face{
font-family:Inconsolata;
src:url('../fonts/Inconsolata/Inconsolata-Regular.ttf');	
}
/*font-family:Lato*/
@font-face{
font-family:Lato;
src:url('../fonts/Lato/Lato-Regular.ttf');	
}
/*font-family:Modak*/
@font-face{
font-family:Modak;
src:url('../fonts/Modak/Modak-Regular.ttf');	
}
/*font-family:Montserrat*/
@font-face{
font-family:Montserrat;
src:url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');	
}